[Unit]
Description=Rabbitmq listener for OBS-bugzilla integration
After=network.target remote-fs.target

[Service]
WorkingDirectory=/usr/libexec/obsbugzilla
User=obsbugzilla
ExecStart=/usr/libexec/obsbugzilla/sourcerabbit-wrapper.sh
Restart=always

[Install]
WantedBy=multi-user.target
