[Unit]
Description=obsbugzilla: query OBS for new SRs

[Service]
WorkingDirectory=/usr/libexec/obsbugzilla
User=obsbugzilla
Type=oneshot
ExecStart=/usr/libexec/obsbugzilla/sourceobs.pl
